*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

:root{
    font-size: 62.5%;
    --hue: 300;
    --color-base-white:hsl(0, 0%, 100%);
    --color-base-gray-100:hsl(0, 0%, 96%);
    --color-base-gray-300:hsl(var(--hue), 6%, 58%);
    --color-base-gray-500:hsl(0, 0%, 24%);
    --color-base-gray-900:hsl(var(--hue), 6%, 13%);
    font-family: 'Mulish', sans-serif;
}

html, body, input{
    font-family: 'Mulish', sans-serif;
}

body{
    font-size: 1.6rem;
    background-color: var(--color-base-white);
    color: var(--color-base-gray-900);
}

.app{
    display: grid;
    height: 100vh;
    grid-template-rows: max-content 1fr max-content;
}

.container{
    padding: 1.6rem 3.2rem;
    width: min(112rem,100%);
    margin: 0 auto;
}


main{
    overflow-y: scroll;
    background-color: var(--color-base-gray-100);
}

header,nav, nav ul{
    display: flex;
    align-items: center;
    gap:7.2rem;
    font-weight: 700;
}

header form{
    flex:1;
}

nav ul{
    list-style: none;
    font-size: 1.8rem;
    color: var(--color-base-gray-300);
}
ul li.active{
    color: var(--color-base-gray-900);
}
.avatar{
    width: 4.2rem;
    height: 4.2rem;
    object-fit: cover;
    border-radius: 50%;
}

.input-wrapper label{
width: 1px;
height: 1px;
overflow: hidden;
position: absolute;
}

.input-wrapper input{
    width: 100%;
    padding: 1.4rem;
    background-color: var(--color-base-gray-100);
    border: 0;
    border-radius: .6rem;
    font-size: 1.6rem;
    opacity: .56;
    font-weight: 600;
}

.input-wrapper input::placeholder{
    color: var(--color-base-gray-500);
    
}

.gallery{
    margin-top: 3.2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:2rem
}

.item img{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    transition: all 400ms ease-out;/*caso queira configurar outra propriedade, é só adicionar o, e iniciar a partir do all*/

        
}

.item img:hover{
    filter: blur(1px);
    transform: scale(1.1);
    cursor: pointer;
   
}

.item{
    background-color: var(--color-base-white);
    border-radius: .8rem;
    overflow: hidden;
}

.details{
    padding: 2.2rem;
}
.details h2{
    font-size: 1.8rem;
}

.tags{
    padding-top: 1rem;
}

.tags span{
    background-color: var(--color-base-gray-100);
    border-radius: .4rem;
    padding: .6rem;
    font-size: 1.2rem;
    text-transform: uppercase;
}

footer p{
    text-align: center;
    padding: 1.6rem;
}

header{
    --startY:-100%;
animation: move 2s;
}

footer{
    --startY:100%;
    animation: move 2s;
}

@keyframes move{
 from{
    transform:translateY(var(--startY));
 }
}

.item{
    --delay:.4s;
    animation: appear .2s var(--delay) backwards;
}

@keyframes appear{
    0%{
        opacity: 0;
        transform: scale(0.7);
    }
    50%{
        transform: scale(1.2);
    }
}